html,
body {
  background-color: oklch(0.218216 0.081948 287.836);
}

.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}

.time-line-container > :not(first-child) {
  margin-bottom: 16px;
}

@view-transition {
  navigation: auto; /* enabled! */
}
