---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-7 text-justify">
    Frontend engineer who is proficient in technologies like TypeScript, CSS,
    Tailwind, React, Node.js, and Next.js. Currently doing free mentorships for
    developers at adplist.org.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid mb-2">
    <TimeLineElement
      title="Master's Degree in Human-Computer Interaction"
      subtitle="2022 to Present at University of Siegen, Siegen, Germany"
    />
    <TimeLineElement
      title="Bachelor's Degree in Computer Science"
      subtitle="2012 to 2017 at Tecnológico de Monterrey, Monterrey, Mexico"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-7">
    <TimeLineElement
      title="Frontend Developer at FX Digital"
      subtitle="From 2022 to 2023 at FX Digital, London, UK"
    >
      <ul class="list-disc ml-4">
        <li class="my-1">
          Developed over 12 key features across 2 LightningJS projects using
          JavaScript, TypeScript, RxJS, and atomic design principles.
        </li>
        <li class="my-1">
          Coordinated a 3 people team in developing a Smart TV application
          across 3 platforms in a span of 7 months.
        </li>
        <li class="my-1">
          Designed and facilitated 3 LightningJS workshops that have been used
          to train over 20 developers of all levels in over a year.
        </li>
        <li class="my-1">
          Mentored 5 developers in 1 on 1 sessions to improve their
          understanding of LightningJS.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Consultant, React Web Developer"
      subtitle="From 2021 to 2022 at FX Digital, London, UK"
    >
      <ul class="list-disc ml-4">
        <li class="my-1">
          Developed 4 projects using ReactJS frameworks such as Gatsby and
          Next.js, hosting them on different cloud-based services such as
          Render, Vercel, Netlify, among others.
        </li>
        <li class="my-1">
          Coordinated the design and development of 4 projects across 3 separate
          teams belonging to different companies while also identifying the key
          needs of end-users.
        </li>
        <li class="my-1">
          Architectured and deployed backend and database services for 3
          separate projects, utilizing technologies such as Strapi, AirTable,
          Vercel’s Cloud functions, Sanity, among others.
        </li>
        <li class="my-1">
          Conducted 2 React workshops for 2 separate teams of different
          companies that were used to train over 10 developers at the time.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant at Tecnológico de Monterrey"
      subtitle="From 2019 to 2021 at Tecnológico de Monterrey, Monterrey, Mexico"
    >
      <ul class="list-disc ml-4">
        <li class="my-1">
          Designed, planned and taught courses for Introductory Python,
          TypeScript for game development, SQL Databases, and project
          management, teaching over 130 students in 2 years.
        </li>
        <li class="my-1">
          Designed and conducted a Git + GitHub workshop that was taught to over
          150 first semester students in a span of a year.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-7 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certified Frontend Developer (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> UX Research Certification (with link)</a>
    </li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>TypeScript</li>
    <li>UX Research</li>
    <li>Human-Computer Interaction</li>
    <li>Mentoring</li>
    <li>Agile Methodologies</li>
  </ul>
</BaseLayout>
