---
import { IoLogoGithub, IoLogoLinkedin } from "react-icons/io";
import { FiCoffee } from "react-icons/fi";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const language = getLangFromUrl(Astro.url);

const t = useTranslations(language);

const socialLinks = [
  {
    name: t("github"),
    url: "https://github.com/axolodev",
    icon: IoLogoGithub,
  },
  {
    name: t("linkedin"),
    url: "https://www.linkedin.com/in/robruizr",
    icon: IoLogoLinkedin,
  },
  {
    name: t("ko-fi"),
    url: "https://ko-fi.com/robruizr",
    icon: FiCoffee,
  },
];
---

<footer
  class="social-icons px-4 pb-5 pt-1 flex justify-around sticky bottom-0 bg-base-200"
>
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="text-2xl mx-3"
        aria-label={link.name}
      >
        <link.icon />
      </a>
    ))
  }
</footer>
