---
import { IoLogoGithub, IoLogoLinkedin } from "react-icons/io";
import { FiCoffee } from "react-icons/fi";

const socialLinks = [
  {
    name: "My GitHub",
    url: "https://github.com/axolodev",
    icon: IoLogoGithub,
  },
  {
    name: "My LinkedIn",
    url: "https://www.linkedin.com/in/robruizr",
    icon: IoLogoLinkedin,
  },
  {
    name: "Support my work on Ko-Fi",
    url: "https://ko-fi.com/robruizr",
    icon: FiCoffee,
  },
];
---

<div
  class="social-icons px-4 pb-5 pt-1 flex justify-around sticky bottom-0 bg-base-200"
>
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="text-2xl mx-3"
        aria-label={link.name}
      >
        <link.icon />
      </a>
    ))
  }
</div>
