---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import EntryCardList from "../../../components/Entry/EntryCardList.astro";
import EntryNewerButton from "../../../components/Entry/EntryNewerButton.astro";
import EntryOlderButton from "../../../components/Entry/EntryOlderButton.astro";

export async function getStaticPaths({ paginate }) {
  const projects = await getCollection("courses");
  return paginate(projects, { pageSize: 10 });
}

const { lang, slug } = Astro.params;
const { page } = Astro.props;
---

<BaseLayout title="Courses">
  <EntryCardList data={page.data} />

  <div class="flex justify-between">
    {page.url.prev ? <EntryNewerButton url={page.url.prev} /> : <div />}
    {page.url.next ? <EntryOlderButton url={page.url.next} /> : <div />}
  </div>
</BaseLayout>
