---
import RootLayout from "./RootLayout.astro";
---

<RootLayout>
  <div class="md:flex md:justify-center">
    <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw] w-full" id="content">
      <slot />
    </main>
  </div>
</RootLayout>
