---
import RootLayout from "./RootLayout.astro";

const page = Astro.props;
---

<RootLayout>
  <main class="md:flex md:justify-center w-full">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <h1>{page.data?.title}</h1>
      <slot />
    </article>
  </main>
</RootLayout>
